html, body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}

.cv{
	min-height:100%;
	min-width:100%;
}

body{
	background-image:url("../img/fd.jpg");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	background-attachment: fixed;
  	line-height:35px;
  	font-weight:bold;
  	color:black;
}

.dropdown-menu a{
	background-color:white;
	color:black !important;
}

h1{
	color:#9d9d9d;
	text-align:center;
}

h2{
	text-align:center;
	margin-bottom:3%;
	margin-top:5%;
	border:3px solid black;
	border-radius:0%;
}

#text{
	text-align:center;
}

.bbas1{
	background-color:black;
	color:#9d9d9d;
	margin-bottom:5%;
}

.bbas2{
	background-color:black;
	color:#9d9d9d;
}

.modal-body{
	text-align:center;
}

#footer{
	bottom:0;
	left:0;
	width:100%;
	background:black;
	padding:2%;
	text-align: center;
	font-family: Blackletter ;
	color: #CCEEFF;
	text-shadow: 0px 0px 10px white;
}