<div class="row">
	<div class="col-xs-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-md-4 col-lg-4">
		<h1>Todolist</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-5 col-md-5 col-lg-5">
		<a class="btn btn-primary" data-toggle="collapse" href="#addtask" aria-expanded="false" aria-controls="collapseExample">
  			Ajouter une tâche
		</a>
		<div class="collapse" id="addtask">
  		<div class="well">
  			<h2>Nouvelle tâche</h2>
  			<div class="has-success">
			<form action="/todo" method="post" class="form-inline">
				<input class="form-control" id="inputSuccess1" type="text" name="content" placeholder="ENTRER VOTRE TÂCHE">
				<input type="submit" value="ENVOYER" class="btn btn-success">
			</form>
			</div>
		</div>
</div>
	</div>
</div>
<!-- <a href="/search">You also can search your task here</a> -->
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Tâche</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<% @mydata.each do |data| %>
				<tbody>
					<tr>
						<td> <%= data.id %></td>
						<td> <%= data.content %> </td>
						<td><a href="/edit/<%= data[:id] %>" class="btn btn-info">Modifier</a></td>
						<td><a href="/delete/<%= data[:id] %>" class="btn btn-danger">Supprimer</a></td>
					</tr>
				</tbody>
			<% end %>
		</table>
	</div>
		

